*{
  box-sizing: border-box;
}

.sidebar{
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar a{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  text-align: center;
}

.sidebar a:hover{
  background-color: #df00c9;
}

.active{
  background-color: #b200df;
}

.sidebar{
  background-color: rgb(241, 169, 130);
}

.text-white{
  background-color: azure;
}